@tailwind base;
/* Firefox */
* {
    scrollbar-width: 5px;
    scrollbar-color: rgb(176, 187, 190) white;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.582);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(198, 206, 212, 0.452);
    border-radius: 10px;
    border: none;
  }
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');